.home-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  &__welcome-section {
    pointer-events: none;
    background-image: $blue-pastel-gradient;
    padding-top: 197px;
    position: relative;
    &__cloud {
      height: 200px;
      left: 250px;
      position: absolute;
      width: 200px;
      top: 100px;
    }
    &__assembly {
      height: 343px;
      width: 548px;
    }
    &__buildings {
      bottom: 0;
      left: 0;
      position: absolute;
      width: 100%;
    }
    &__cta {
      background-color: $apple-green;
      margin-bottom: 110px;
      pointer-events: auto;
    }
    &__subtitle {
      color: $grey;
      font-family: $font-family;
      font-size: 24px;
      font-weight: 300;
      line-height: 1.67;
      margin-bottom: 100px;
    }
    &__title {
      font-family: $font-family;
      font-size: 36px;
      font-weight: bold;
      line-height: 1.58;
    }
  }
  &__bubbles-section {
    &__title {
      color: $dark-grey;
      font-family: $font-family;
      font-weight: bold;
      font-size: 30px;
      line-height: 1.53;
      padding-top: 56px;
      padding-bottom: 55px;
      margin-left: 10%;
      margin-right: 10%;
    }
  }
  &__participate-section {
    background-image: $yellow-pastel-gradient;
    &__subtitle {
      margin-left: 25%;
      margin-right: 25%;
      color: $grey;
      font-weight: 300;
      font-family: $font-family;
      font-size: 18px;
      line-height: 1.67;
    }
    &__title {
      color: $grey;
      font-weight: bold;
      font-size: $title-font-size;
      line-height: $title-line-height;
      padding-top: 56px;
      margin-bottom: 50px;
    }
    &__quote {
      margin-left: 25%;
      margin-right: 25%;
      margin-bottom: 25px;
      &__up {
        overflow-y: hidden;
        &__img {
          height: 120px;
          width: 120px;
        }
        &__text {
          font-family: $font-family;
          font-size: 18px;
          line-height: 2.5;
          font-weight: 300;
        }
      }
    }
    &__social-shares {
      margin-left: 40%;
      margin-right: 40%;
      margin-bottom: 50px;
    }
    &__cta {
      background-color: $apple-green;
      margin-bottom: 100px;
    }
  }
  &__team-section {
    background-image: $blue-pastel-gradient;
    overflow-y: hidden;
    &__title {
      color: $grey;
      font-weight: bold;
      font-size: $title-font-size;
      line-height: $title-line-height;
      padding-top: 56px;
    }
    &__container {
      margin-top: 7%;
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 128px;
      overflow-y: hidden;
      &__rows {
        overflow-y: hidden;
        &__profile {
          &__img {
            height: 80px;
            width: 80px;
          }
          &__text {
            text-align: left;
            &__name {
              color: $grey;
              font-family: $font-family;
              font-size: 18px;
              font-weight: 500;
            }
            &__speciality {
              color: $light-grey;
              font-family: $font-family;
              font-size: 18px;
              font-weight: 300;
            }
          }
        }
      }
    }
  }
  &__partners-section {
    margin-bottom: 58px;
    overflow-y: hidden;
    &__title {
      color: $grey;
      font-weight: bold;
      font-size: $title-font-size;
      line-height: $title-line-height;
      padding-top: 69px;
      margin-bottom: 55px;
    }
    &__container {
      @media (min-width: $md) {
        width: 50%;
        margin-left: 25%;
      }
      &__partner {
        &__img {
          height: 180px;
          width: 180px;
        }
        &__title {
          color: $grey;
          font-family: $font-family;
          font-weight: 500;
          font-size: 24px;
        }
        &__subtitle {
          color: $light-grey;
          font-family: $font-family;
          font-size: 14px;
          line-height: 1.29;
          opacity: 0.3;
        }
      }
    }
  }
  &__find-section {
    background-image: $yellow-pastel-gradient;
    padding-top: 56px;
    overflow-y: hidden;
    &__title {
      color: $grey;
      font-size: 36px;
      font-weight: bold;
      line-height: 1.33;
      margin-bottom: 55px;
    }
    &__container {
      margin-bottom: 69px;
      &__icon {
        height: 48px;
        width: 48px;
      }
    }

  }
  &__footer-section {
    background-color: $blue;
    &__links {
      color: white;
    }
  }
}
