.home-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  &__welcome-section {
    background-image: $blue-pastel-gradient;
    padding-top: 197px;
    position: relative;
    &__assembly {
      height: 343px;
      width: 548px;
    }
    &__buildings {
      bottom: 0;
      left: 0;
      position: absolute;
      width: 100%;
    }
    &__cta {
      margin-bottom: 110px;
    }
    &__subtitle {
      color: $grey;
      font-family: $font-family;
      font-size: 24px;
      font-weight: 300;
      line-height: 1.67;
      margin-bottom: 100px;
    }
    &__title {
      font-family: $font-family;
      font-size: 36px;
      font-weight: bold;
      line-height: 1.58;
    }
  }
  &__bubbles-section {
    &__title {
      color: $dark-grey;
      font-family: $font-family;
      font-weight: bold;
      font-size: 36px;
      line-height: 1.83;
    }
  }
  &__participate-section {
    background-image: $yellow-pastel-gradient;
    &__subtitle {
      color: $grey;
      font-family: $font-family;
      font-size: 30px;
      line-height: 1.6;
    }
    &__title {
      color: $grey;
      font-weight: bold;
      font-size: 60px;
      line-height: 1.33;
    }
  }
  &__team-section {
    background-image: $blue-pastel-gradient;
    &__title {
      color: $grey;
      font-weight: bold;
      font-size: 60px;
      line-height: 1.33;
    }
  }
  &__partners-section {
    margin-bottom: 58px;
    overflow-y: hidden;
    &__title {
      color: $grey;
      font-weight: bold;
      font-size: 60px;
      line-height: 1.33;
      padding-top: 69px;
      margin-bottom: 55px;
    }
    &__container {
      @media (min-width: $md) {
        width: 50%;
        margin-left: 25%;
      }
      &__partner {
        &__img {
          height: 180px;
          width: 180px;
        }
        &__title {
          color: $grey;
          font-family: $font-family;
          font-weight: 500;
          font-size: 24px;
        }
        &__subtitle {
          color: $light-grey;
          font-family: $font-family;
          font-size: 14px;
          line-height: 1.29;
          opacity: 0.3;
        }
      }
    }
  }
  &__find-section {
    background-image: $yellow-pastel-gradient;
    padding-top: 56px;
    overflow-y: hidden;
    &__title {
      color: $grey;
      font-size: 36px;
      font-weight: bold;
      line-height: 1.33;
      margin-bottom: 55px;
    }
    &__container {
      margin-bottom: 69px;
      &__icon {
        height: 48px;
        width: 48px;
      }
    }

  }
  &__footer-section {
    background-color: $blue;
    &__links {
      color: white;
    }
  }
}
