.assembly {
  margin-bottom: 30px;
  &__dropdown {
    padding-top: 20px;
    margin-bottom: 10px;
    @media (min-width: $md) {
      display: none;
    }
    &__select {
      background-color: white;
      color: $grey;
      height: 30px;
      font-family: $font-family;
      font-size: 18px;
      font-weight: bold;
      text-align-last: center;
    }
  }
  &__slider {
    @media (max-width: $md) {
      display: none;
    }
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    border-bottom: 2px solid #505050;
    overflow-y: hidden;
    &__container {
      button:focus {
        outline: none;
      }
      &__option {
        background: white;
        border: 0;
        color: $grey;
        font-family: $font-family;
        font-size: 18px;
        font-weight: 300;
        cursor: pointer;
        padding: 1rem;
        min-height: 100px;
        width: 100%;
        transition: all 0.5s;
        &--selected {
          color: $option-grey;
          font-size: 22px;
          font-weight: bold;
        }
      }
      &__selector {
        height: 10px;
        position: relative;
        &__shift {
          background-color: $apple-green;
          height: 100%;
          position: absolute;
          transition: left 0.5s;
        }
      }
    }
  }
  &__content {
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    @media (max-width: $mini) {
      margin-left: 2%;
      margin-right: 2%;
      width: 96%;
    }
    padding: 10px;
    overflow: hidden;
    &__legend {
      background-color: #FAFAFA;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      padding: 10px;
      margin-bottom: 30px;
      min-height: 30rem;
      @media (max-width: $mini) {
        width: 100%;
      }
      &__title {
        color: $option-grey;
        font-family: $font-family;
        font-size: 18px;
        font-weight: bold;
        padding: 10px;
        text-align: left;
        position: relative;
        margin-bottom: 3rem;
        &--legend {
          margin-bottom: 1rem;
        }
        &__subtitle {
          color: $option-grey;
          font-family: $font-family;
          font-size: 16px;
          font-weight: 300;
          text-align: left;
          position: absolute;;
          width: 80%;
        }
      }

      &__switch {
        font-family: $font-family;
        font-size: 14px;
        margin-bottom: 30px;
      }
      &__row {
        margin-bottom: 5px;
        overflow-y: hidden;
        &__pastille {
          border-radius: 50%;
          height: 15px;
          width: 15px;
        }
        &__text {
          color: $dark-grey;
          font-family: $font-family;
          font-size: 14px;
          font-weight: 300;
          margin-bottom: 15px;
          text-align: left;
          max-width: 70%;
        }
      }
    }
    &__viz {
      padding: 0.25rem;
      @media (min-width: $md) {
        padding: 3rem;
      }
    }
  }
  &__description {
    color: $grey;
    font-family: $font-family;
    font-size: 14px;
    @media (min-width: $sm) {
      font-size: 18px;
    }
    font-weight: 300;
    line-height: 1.67;
    margin-left: 15%;
    margin-right: 15%;
  }
}
