.bubbles {
  &__dropdown {
    margin-bottom: 20px;
    @media (min-width: $md) {
      display: none;
    }
    &__select {
      background-color: white;
      color: $grey;
      height: 30px;
      font-family: $font-family;
      font-size: 18px;
      font-weight: bold;
      text-align-last: center;
    }
  }
  &__slider {
    @media (max-width: $md) {
      display: none;
    }
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 25px;
    border-bottom: 1px solid #505050;
    overflow-y: hidden;
    &__container {
      button:focus {
        outline: none;
      }
      &__option {
        background: transparent;
        border: 0;
        color: $grey;
        font-family: $font-family;
        font-size: 16px;
        font-weight: 300;
        cursor: pointer;
        min-height: 60px;
        width: 100%;
        transition: all 0.5s;
        &--selected {
          color: $option-grey;
          font-size: 18px;
          font-weight: bold;
        }
      }
      &__selector {
        height: 4px;
        position: relative;
        &__shift {
          background-color: $apple-green;
          height: 100%;
          position: absolute;
          transition: left 0.5s;
        }
      }
    }
  }
  &__options {
    margin-left: 5%;
    margin-right: 5%;
    &__svg {
      border-bottom: 1px solid black;
    }
  }
  &__legend {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 0.25rem;
    @media (min-width: $sm) {
      margin-bottom: 10px;
    }
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 30px;
    &__row {
      &__circle {
        border-radius: 50%;
        height: 20px;
        width: 20px;
        @media (min-width: $sm) {
          height: 20px;
          width: 20px;
        }
        &--women {
          background-color: $green-girl;
        }
        &--men {
          background-color: $blue-boy;
        }
      }
      &__text {
        font-size: 14px;
        @media (min-width: $sm) {
          font-size: 16px;
        }
        font-weight: 300;
        height: 100%;
        padding: 5px;
        text-align: left;
      }
    }
  }
  &__viz {
    // background-image: $grey-pastel-gradient;
    border-radius: 10px;
    background-color: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    &__svg {
      width: 100%;
    }
  }
  &__quote {
    margin-left: 10%;
    margin-right: 10%;
    @media (min-width: $md) {
      margin-left: 30%;
      margin-right: 30%;
    }
    &__text {
      color: $light-grey;
      font-weight: bold;
      font-size: 16px;
      line-height: 1.67;
    }
  }
  &__social-shares {
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 50px;
  }
}

.g-label.g-hover .g-name {
  display:none;
}

.g-node .g-femme {
  fill: $green-girl;
}

.g-node.g-hover .g-femme {
  fill: $green-girl;
}

.g-node .g-homme {
  fill: $blue-boy;
}

.g-node.g-hover .g-homme {
  fill: $blue-boy;
}

.g-node .g-split {
  stroke: #000;
  stroke-opacity: 0;
  shape-rendering: crispEdges;
}

a.g-label {
  font-family:Verdana;
  color: inherit;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 1em;
  position: absolute;
}


.g-overlay,
.g-node,
.g-label {
  -webkit-tap-highlight-color: transparent;
}

.g-overlay {
  fill: none;
  pointer-events: all;
}

.g-overview{
  position: absolute;
  left: 360px;
  text-align: center;
  width: 250px;
}

.g-option {
  height: 100%;
  &__body {
    background-color: white;
    color: $option-grey;
    font-family: $font-family;
    font-weight: 300;
    height: 100%;
    font-size: 15px;
    @media (min-width: $md) {
      font-size: 17px;
    }
    &--selected {
      font-size: 18px;
      @media (min-width: $md) {
        font-size: 24px;
      }
      font-weight: bold;
    }
    transition: all 0.1s ease 0.1s;
    &__button {
      overflow-x: initial;
      cursor: pointer;
      height: 100%;
      width: 100%;
    }
    &__selector {
      fill: #d3dc4e
    }
  }
}

.g-name {
  color: $option-grey;
  font-family: $font-family;
}
