.button {
  text-decoration: none;
  text-align: center;

  display: inline-block;
  font-size: 1em;
  line-height: 1.25;
  font-weight: 500;
  border: 0;
  border-radius: 0.5em;
  padding: 0.875em 1.375em;
  background-color: $apple-green;
  cursor: pointer;
  font-family: $font-family;
  .icon {
    vertical-align: middle;
  }

  // STYLE
  &--line {
    border: 1px solid currentColor;
    background: transparent;
  }

  &--plain {
    cursor: pointer;
    background: 0;
    border: 0;
    outline: 0;
    padding: 0;
    text-align: left;
  }

  // SIZE
  &--large {
    padding-left: 2.5em;
    padding-right: 2.5em;
    font-size: 1.25em;
  }

  // STATE
  &:hover,
  &:focus {
    transform: scale(1.04);
    transition: all 0.2s ease-out;
  }
  // override here, rather than using :not selector above,
  // to keep specificity low for :hover rule
  &--plain {
    &:hover,
    &:focus {
      transform: none;
    }
  }
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
