.header {
  color: black;
  background-image: $header-blue-pastel-gradient;;
  align-items: center;
  z-index: 3;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;

  @media (min-width: $sm) {
    height: $header-height;
  }

  .logo {
    height: 66px;
    width: $logo-width;
  }

  &__top-nav {
    height: 100%;
    &__logo {
      margin-left: 5%;
      position: relative;
      &__text {
        color: #5878a3;
        font-size: 16.6px;
        font-weight: bold;
        letter-spacing: 0.7px;
        line-height: 1.19;
        position: absolute;
        bottom: 0;
        left: $logo-width;
        width: 120px;
      }
    }
    &__links {
      margin-right: 40px;
      &__link {
        color: $grey;
        font-family: $font-family;
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 0.8px;
        line-height: 2.5rem;
      }
    }

  }
}
