// Color Palette
$blue: #5878a3;
$blue-pastel-gradient: linear-gradient(to bottom, rgba(182, 232, 255, 0.1), rgba(78, 201, 255, 0.1));
$yellow-pastel-gradient: linear-gradient(to bottom, rgba(251, 255, 204, 0.1), rgba(225, 234, 94, 0.1));
$grey: #282828;
$option-grey: #474747;
$light-grey: #363636;
$middle-grey: #F3F3F3;
$dark-grey: #323232;
$apple-green: #d3dc4e;
