// Color Palette
$blue: blue;
$blue-pastel-gradient: linear-gradient(to bottom, rgba(182, 232, 255, 0.1), rgba(78, 201, 255, 0.1));
$light-grey: #FAFAFA;
$middle-grey: #F3F3F3;
$apple-green: #d3dc4e;
$grey: #282828;
