* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  > * {
    // prevent horisontal scrolling
    // NOTE: setting this value directly on the body doesn't work in Chrome
    overflow-x: hidden;
  }
}

img {
  max-width: 100%;
  // needed for IE
  width: auto;
  height: auto;
}

.main {
  min-height: 100vh;
}
