* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  > * {
    // prevent horizontal scrolling
    // NOTE: setting this value directly on the body doesn't work in Chrome
    // overflow-x: hidden;
  }
}

img {
  max-width: 100%;
  // needed for IE
  width: auto;
  height: auto;
}

.main {
  min-height: 100vh;
  font-family: $font-family;
}

div .pastille {
  &--light-blue {
    background-color: $light-blue;
    &--empty {
      border: 1px solid $light-blue;
      background-color: white;
    }
  }
  &--middle-blue {
    background-color: $middle-blue;
  }
  &--dark-blue {
    background-color: $dark-blue;
    &--empty {
      border: 1px solid $dark-blue;
      background-color: white;
    }
  }
  &--light-pink {
    background-color: $light-pink;
  }
  &--middle-pink {
    background-color: $middle-pink;
  }
  &--dark-pink {
    background-color: $dark-pink;
  }
  &--orange {
    background-color: $orange;
  }
  &--light-green {
    background-color: $light-green;
  }
  &--middle-green {
    background-color: $middle-green;
  }
  &--dark-green {
    background-color: $dark-green;
  }
  &--black-green {
    background-color: $black-green;
  }
  &--middle-grey {
    background-color: $middle-grey;
  }
}
