// Breakpoints
$mini: 30em;
$sm: 40em; //648px
$md: 52em;
$lg: 64em; // 1280px;
$xl: 75em;

// Heights
$header-height: 7rem;
$logo-width: 63px;

// font
$font-family: "Helvetica Neue", Arial, sans-serif;
$title-font-size: 30px;
$title-line-height: 1.33;
